.root {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 30px;
	background: #212842;
	box-shadow: 0 0 20px 5px #131931;
}

.title {
	text-decoration: none;
	font-size: 32px;
	font-weight: 900;
	color: white;
}

.emphasized {
	color: #e43f77;
}
